.h-94 {
  height: 94vh;
}

.h-100p {
  height: 100%;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.mt-32 {
  margin-top: 32px;
}

.mt-16 {
  margin-top: 16px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.contato {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .logo-wpp {
    width: 18px;
    margin-right: 12px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.btn-link-externo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
}
